<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.nankinhaze"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="jp.nankinhaze.Freecell"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="jp.nankinhaze.Prefs"
            android:label="@string/setting_title" >
        </activity>
        <activity
            android:name="jp.nankinhaze.Records"
            android:label="@string/app_name1" >
        </activity>
        <activity
            android:name="jp.nankinhaze.OtherActivity"
            android:label="other activity" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="application/mydata" />
            </intent-filter>
        </activity>
        <activity
            android:name="jp.nankinhaze.About"
            android:label="@string/about_title" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>